.city-container {
  width: 400px;
  margin: 50px auto;
  display: flex;
}

label {
  font-size: 20px;
  padding: 10px 20px;
  position: relative;
  left: 75px;
  top: 4px;
  /* background-color: rgb(212, 137, 137); */
  border-radius: 20px 0 0 20px;
}

input {
  width: 500px;
  padding: 10px 90px;
  border: 1px solid coral;
  border-radius: 20px;
  font-size: 20px;
}

.bttn {
  width: 200px;
  position: relative;
  right: 63px;
  top: 1px;
  border: none;
  height: 50px;
  border-radius: 0 20px 20px 0;
  background-color: rgb(212, 137, 137);
}
